body {
font-family: 'Oxygen', sans-serif;
background-color:#247065;
}
#demo {
	text-align: center;
	font-size: 4vh;
}
.contenedor-header{
	background-color: #FFEC97;
	height: 30vh;
}
.titulo{
	font-size: 10vh;
	color:#247065;
	text-align: center;


}
.contenedor-section{
	padding: 5%;
}
option{
	color:
}
label{
	color:#FFEC97;
}
.buttons {
	text-align: center;
}
.buttons input {
	padding: 1em;
	border-radius: 25px;
}
