body {
	font-family: 'Oxygen', sans-serif;
}
.body-container {
	background-color: #CDE9F4;
	height: 100vh;
}
.contenedor-header {
	background-color: #75BBE4;
	height: 30%;
}
#demo {
	padding-top: 2em;
	text-align: center;
	font-size: 150%;
	padding-bottom: 0;
	color: #0163A1;
}
.titulo {
	font-size: 200%;
	color:#FFF;
	text-align: center;
}
.contenedor-section{
	padding: 5%;
}
#buttons {
	text-align: center;
	margin: 0 auto;
}
.btn-secondary {
  color: #CDE9F4;
	background-color: none;
  background-color: #0163A1;
	border: none;
}
#img-contenedor {
	padding: 1em;
	align-content: center;
	width: auto;
	margin: 0 auto;
}
#galery-row-2 {
	padding-top: 1em;
}
#buttons {
	padding-top: 1em;
	text-align: center;
}
